* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: unset;
  text-decoration: none;
}
:root {
  --mainBackColor: #e4e8ed;
  --itemBackColor: #ddd;
  --itemBorderColor: #bbb;
  --headerBackColor: #006595;
  --borderBox: #999;
  --borderSeparator: #ddd;
}
body {
  background-color: #e4e8ed;
  min-height: 100vh;
  position: relative;
}
.header {
  height: 70px;
  background-color: var(--headerBackColor);
  background-repeat: repeat-x;
  /* background-image: url(../img/juegos2.jpg); */
  width: 100%;
}
.navBar {
  height: 35px;
  display: flex;
  font-family: "Oswald", sans-serif;
}
.navBar--content {
  height: 40px;
  flex-basis: 100%;
  padding: 5px 10px;
  border-bottom: 1px solid var(--borderBox);
}
.navBar--bottom {
  margin-top: 30px;
  border-top: 1px solid var(--borderBox);
}
.toTheTop {
  font-family: Helvetica;
  color: #777777;
  font-weight: bold;
  font-size: 12px;
  text-decoration: underline;
}
.toTheTop:hover {
  color: #444444;
}
.navBar--top {
  background-color: black;
  color: white;
}
.navBar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBar__item {
  height: 100%;
}
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  height: inherit;
  color: #6c7d8d;
}
.navBar--top .menu {
  color: white;
}
.menu li {
  height: inherit;
  display: flex;
  align-items: center;
  padding: 7px 15px;
}
.menu--content {
  gap: 10px;
}
.menu--content li {
  padding: 5px 10px;
}
.navBar__item:last-child .menu li {
  padding: 7px 10px;
}
.menu li:hover {
  background-color: rgba(164, 163, 255, 0.233);
}
.avatar {
  height: 25px;
}
.avatar img {
  max-height: 100%;
  width: auto;
  margin-left: 10px;
  box-shadow: 0 0 10px #6f7c89;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.container {
  width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 0px 10px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  min-height: 100vh;
  background-color: white;
  border-left: 1px solid var(--borderBox);
  border-right: 1px solid var(--borderBox);
  padding: 0;
  font-family: Helvetica;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.content .navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  position: relative;
}
.search input {
  padding: 0px 10px;
  padding-right: 30px;
  width: 240px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 30px;
}
.search input:focus-visible {
  outline: none;
}
.icon-magnify {
  position: absolute;
  right: 8px;
  bottom: 8px;
}
main {
  border-right: 2px dashed var(--borderSeparator);
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 12px;
  flex-basis: 400px;
}
.category {
  background-image: url(../img/icon/sprites.png);
  background-color: transparent;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
}
.category-videogame {
  background-position: 0px 0px;
}
.category-image {
  background-position: 0px -16px;
}
.category-movie {
  background-position: 0px -32px;
}
.category-art {
  background-position: 0px -48px;
}
.category-software {
  background-position: 0px -64px;
}
.category-news {
  background-position: 0px -80px;
}
.category-music {
  background-position: 0px -96px;
}
.category-series {
  background-position: 0px -112px;
}
.category-sport {
  background-position: 0px -128px;
}
.category-food {
  background-position: 0px -144px;
}
.category-anime {
  background-position: 0px -160px;
}
.category-tutorial {
  background-position: 0px -176px;
}
.category-science {
  background-position: 0px -192px;
}
.category-book {
  background-position: 0px -208px;
}

.item-list {
  list-style: none;
  /* font-family: Helvetica; */
  font-size: 12px;
  color: #444444;
  font-weight: bold;
}

.item-list li {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 5px 10px;
}
.item-list li:nth-child(even) {
  background-color: var(--itemBackColor);
  border-top: 1px solid var(--itemBorderColor);
}
.item-list a:hover {
  text-decoration: underline;
}

.block-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}
.block-header h3 {
  font-size: 14px;
  display: inline-block;
  padding-left: 10px;
  color: #444444;
}
.sidebar-1 {
  /* background-color: aqua; */
  border-right: 2px dashed var(--borderSeparator);
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 12px;
  min-height: 600px;
  flex-basis: 360px;
  color: #444444;
}
.estadisticas {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--borderSeparator);
}
.estadisticas__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 12px;
  gap: 5px;
  padding: 8px 10px 15px;
  /* padding-top: 8px; */
}
.boton-mas {
  background-color: var(--itemBackColor);
  border-top: 1px solid var(--itemBorderColor);
  text-align: center;
  font-size: 11px;
  display: block;
  padding: 7px;
}

.boton-mas:hover {
  background-color: #d0d0d0;
}
.ult-coment {
  margin-top: 17px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--borderSeparator);
}
.ult-coment__user {
  color: #868686;
  margin-right: 5px;
  height: 16px;
}
.ult-coment__user:hover {
  color: #006595;
}
.topList {
  margin-top: 17px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--borderSeparator);
  color: #444444;
  font-size: 12px;
  font-weight: bold;
}
.topList--users {
  margin-top: 0;
}
.topList__item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 7px;
}
.topList__item--first {
  align-items: flex-start;
  gap: 10px;
}
.topList__item--first img {
  width: 55px;
  height: 55px;
}
.topList__item--second {
  align-items: flex-start;
  gap: 10px;
}
.topList__item--second img {
  width: 40px;
  height: 40px;
}
.topList__item:nth-child(even) {
  background-color: var(--itemBackColor);
  border-top: 1px solid var(--itemBorderColor);
}
.topList__item a {
  flex-grow: 1;
}
.topList__number {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
}
.topList__point {
  width: 35px;
  height: 16px;
  color: green;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.topUser {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}
.topUser__name {
  font-size: 13px;
}
.topUser__follow {
  background-color: #b7b7b7;
  display: flex;
  width: 75px;
  gap: 4px;
  padding: 3px 10px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.sidebar-2 {
  flex-basis: 238px;
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 12px;
  height: 500px;
}
.sidebar-ad {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.tags__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
  justify-content: center;
  font-weight: bold;
  color: #444444;
  gap: 5px;
}

.level0 {
  font-size: 22px;
  color: #1b1b1b;
}
.level1 {
  font-size: 20px;
  color: #2e2e2e;
}
.level2 {
  font-size: 18px;
  color: #2e2e2e;
}
.level3 {
  font-size: 16px;
  color: #3d3d3d;
}
.level4 {
  font-size: 14px;
  color: #3d3d3d;
}
.level5 {
  font-size: 12px;
}

.ad-left {
  position: fixed;
  top: 100px;
}
footer {
  height: 70px;
  background-color: #006595;
}
.footer__menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 12px;
  font-weight: bold;
  font-family: Helvetica;
}
.footer__menu a:hover {
  text-decoration: underline;
}
.pagination {
  background-color: var(--itemBackColor);
  border-top: 1px solid var(--itemBorderColor);
  text-align: center;
  font-size: 11px;
  display: block;
  padding: 7px;
}
.pagination a:hover {
  text-decoration: underline;
}
.bordersBottom {
  position: relative;
  flex-basis: 100%;
}

.bordersBottom::after,
.bordersBottom::before {
  content: "";
  position: absolute;
  height: 3px;
  border: 1px solid var(--borderBox);
  border-top: 0;
  background-color: white;
}
.bordersBottom::before {
  width: 984px;
  top: 0;
  left: 6px;
}
.bordersBottom::after {
  width: 972px;
  top: 4px;
  left: 12px;
}
