* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: unset;
  text-decoration: none;
}
select:focus-visible {
  outline: 0;
}
html{
  scroll-behavior: smooth;
}
:root {
  --mainBackColor: #e4e8ed;
  --itemBackColor: #ddd;
  --itemBorderColor: #bbb;
  --itemHoverColor: #d14f4e;
  --mainColor: #006595;
  --borderBox: #cdd0d4;
  --borderSeparator: #ddd;
  --textColor: #444;
  --lightTextColor: #777;
  --hardTextColor: #222;
}
body {
  background-color: #e4e8ed;
  min-height: 600px;
  position: relative;
  font-family: Helvetica;
  color: var(--textColor);
  font-size: 13px;
}
.container {
  width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 0px 10px;
}
.header {
  height: 70px;
  background-color: var(--mainColor);
  background-repeat: repeat-x;
  width: 100%;
}
.navBar {
  height: 35px;
  display: flex;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
}
.header .container,
.navBar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBar--content {
  height: 40px;
  flex-basis: 100%;
  padding: 5px 10px;
  border-bottom: 1px solid var(--borderBox);
}
.navBar--top {
  background-color: black;
  color: white;
}
.navBar--bottom {
  margin-top: 30px;
  border-top: 1px solid var(--borderBox);
}
.toTheTop {
  color: var(--lightTextColor);
  font-weight: bold;
  font-size: 12px;
  font-family: Helvetica;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.toTheTop:hover {
  color: var(--textColor);
}

/* .navBar__item {
  height: 100%;
} */

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  height: inherit;
  color: var(--lightTextColor);
}
.navBar--top .menu {
  color: white;
}
.menu li {
  height: inherit;
  display: flex;
  align-items: center;
  padding: 3px 15px;
}
.menu--content {
  gap: 10px;
}
.menu--content li {
  padding: 5px 10px;
}
.menu--content a {
  display: flex;
  height: 20px;
  align-items: center;
  gap: 5px;
}
.navBar__item:last-child .menu li {
  padding: 3px 10px;
}
.menu li:hover {
  background-color: var(--itemBackColor);
  color: var(--hardTextColor);
}
.navBar--top .menu li:hover {
  background-color: var(--hardTextColor);
  color: white;
}
.avatar {
  height: 25px;
}
.avatar img {
  max-height: 100%;
  width: auto;
  margin-left: 10px;
  box-shadow: 0 0 10px #6f7c89;
  box-shadow: 0 0 10px var(--itemBackColor);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.content {
  background-color: white;
  border-left: 1px solid var(--borderBox);
  border-right: 1px solid var(--borderBox);
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.search {
  position: relative;
}
.search input {
  padding: 0px 10px;
  padding-right: 30px;
  width: 240px;
  /* height: 100%; */
  height: 24px;
  border: 1px solid var(--borderBox);
  border-radius: 30px;
}
.search input:focus-visible {
  outline: none;
}
.icon-magnify {
  position: absolute;
  right: 8px;
  bottom: 6px;
}
.navBar--bottom .icon-magnify {
  bottom: 4px;
}
.main {
  border-right: 2px dashed var(--borderSeparator);
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 12px;
  flex-basis: 400px;
}
.category {
  background-image: url(../img/icon/sprites.png);
  background-color: transparent;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
}
.category-videogame {
  background-position: 0px 0px;
}
.category-image {
  background-position: 0px -16px;
}
.category-movie {
  background-position: 0px -32px;
}
.category-art {
  background-position: 0px -48px;
}
.category-software {
  background-position: 0px -64px;
}
.category-news {
  background-position: 0px -80px;
}
.category-music {
  background-position: 0px -96px;
}
.category-series {
  background-position: 0px -112px;
}
.category-sport {
  background-position: 0px -128px;
}
.category-food {
  background-position: 0px -144px;
}
.category-anime {
  background-position: 0px -160px;
}
.category-tutorial {
  background-position: 0px -176px;
}
.category-science {
  background-position: 0px -192px;
}
.category-book {
  background-position: 0px -208px;
}

.itemList {
  list-style: none;
  /* font-family: Helvetica; */
  /* font-size: 12px; */
  color: var(--textColor);
  font-weight: bold;
}

.itemList li {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 5px 10px;
}
.itemList li:nth-child(even) {
  background-color: var(--itemBackColor);
  border-top: 1px solid var(--itemBorderColor);
}
.itemList a:hover {
  text-decoration: underline;
  color: var(--itemHoverColor);
}

.block__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}
.block__header h3 {
  font-size: 14px;
  display: inline-block;
  padding-left: 10px;
  color: var(--textColor);
}
.sidebar-1 {
  /* background-color: aqua; */
  border-right: 2px dashed var(--borderSeparator);
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 12px;
  min-height: 600px;
  flex-basis: 360px;
  color: var(--textColor);
}

.block {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--borderSeparator);
  margin-bottom: 17px;
}

/* .estadisticas {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--borderSeparator);
} */
.estadisticas__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* font-size: 12px; */
  gap: 5px;
  padding: 8px 10px 15px;
}
.boton-mas {
  background-color: var(--itemBackColor);
  border-top: 1px solid var(--itemBorderColor);
  text-align: center;
  font-size: 11px;
  display: block;
  padding: 7px;
}

.boton-mas:hover {
  background-color: #d0d0d0;
}

.lastComents__user {
  color: var(--lightTextColor);
  margin-right: 5px;
  height: 16px;
}
.lastComents__user:hover {
  color: var(--textColor) !important;
  text-decoration: none !important;
}

.topList {
  color: var(--textColor);
  font-weight: bold;
}

.topList__item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 7px;
}

.topList--users .topList__item:first-child {
  align-items: flex-start;
  gap: 10px;
}
.topList--users .topList__item:first-child img {
  width: 55px;
  height: 55px;
}
.topList--users .topList__item:nth-child(2) {
  align-items: flex-start;
  gap: 10px;
}
.topList--users .topList__item:nth-child(2) img {
  width: 40px;
  height: 40px;
}
.topList__item:nth-child(even) {
  background-color: var(--itemBackColor);
  border-top: 1px solid var(--itemBorderColor);
}
.topList__item a {
  flex-grow: 1;
}
.topList__item a:hover {
  color: var(--itemHoverColor);
}
.topList__number {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
}
.topList__point {
  width: 35px;
  height: 16px;
  color: var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.topUser {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}
.topUser__name {
  font-size: 14px;
  color: var(--textColor);
}

.topUser__follow {
  background-color: #b7b7b7;
  display: flex;
  width: 75px;
  gap: 4px;
  padding: 3px 10px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.topUser__follow:hover {
  color: white !important;
  background-color: var(--hardTextColor);
}
.sidebar-2 {
  flex-basis: 238px;
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 12px;
}
.sidebar-ad {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  margin-bottom: 30px;
}

.tags__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  justify-content: center;
  font-weight: bold;
  color: var(--textColor);
  gap: 5px;
}

.level0 {
  font-size: 22px;
  color: #1b1b1b;
}
.level1 {
  font-size: 20px;
  color: #2e2e2e;
}
.level2 {
  font-size: 18px;
  color: #2e2e2e;
}
.level3 {
  font-size: 16px;
  color: #3d3d3d;
}
.level4 {
  font-size: 14px;
  color: #3d3d3d;
}
.level5 {
  font-size: 12px;
}

.adWide {
  display: none;
}
footer {
  background-color: var(--mainColor);
  padding: 20px;
}
.footer__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 12px;
  font-weight: bold;
  font-family: Helvetica;
}
.footer__menu a:hover {
  text-decoration: underline;
}
.pagination {
  background-color: var(--itemBackColor);
  border-top: 1px solid var(--itemBorderColor);
  text-align: center;
  font-size: 11px;
  display: block;
  padding: 7px;
}
.pagination a:hover {
  text-decoration: underline;
}
.bordersBottom {
  position: relative;
  flex-basis: 100%;
}

.bordersBottom::after,
.bordersBottom::before {
  content: "";
  position: absolute;
  height: 3px;
  border: 1px solid var(--borderBox);
  border-top: 0;
  background-color: white;
}
.bordersBottom::before {
  width: 984px;
  top: 0;
  left: 6px;
}
.bordersBottom::after {
  width: 972px;
  top: 4px;
  left: 12px;
}

li.secondSearch {
  display: none;
}

.ad-left,
.ad-right {
  display: none;
}
@media (min-width: 1400px) {
  .aux {
    display: flex;
  }

  .content {
    margin: 0;
    margin-bottom: 20px;
    order: 2;
  }
  .ad-left,
  .ad-right {
    width: calc((100% - 1000px) / 2);
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .ad-left img,
  .ad-right img {
    position: sticky;
    top: 10px;
    margin: 20px auto;
  }
  .ad-left {
    order: 1;
  }
  .ad-right {
    order: 3;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
  }
  .content {
    margin-bottom: 0;
  }
  .main {
    flex-basis: 65%;
    padding-left: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--borderBox);
    order: 1;
  }
  .sidebar-1 {
    flex-basis: 100%;
    border-right: none;
    order: 3;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
  }
  .sidebar-2 {
    flex-basis: 35%;
    padding-right: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--borderBox);
    order: 2;
  }

  .navBar--bottom {
    order: 4;
    margin-top: 5px;
    height: 50px;
    padding: 10px;
  }
  .estadisticas {
    order: 3;
    flex-basis: 100%;
  }
  .lastComents {
    order: 2;
    flex-basis: 100%;
  }
  .topList--post {
    order: 1;
    flex-basis: 100%;
    margin-top: 20px;
  }
  .search input {
    width: 160px;
  }
  .adWide {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .bordersBottom {
    display: none;
  }
}

@media (max-width: 768px) {
  .ad468x60 {
    display: none;
  }
  .adWide {
    display: none;
  }
  .main {
    flex-basis: 62%;
    padding-left: 8px;
  }
  /* .navBar--content {
    display: none;
  } */
  .navBar--bottom {
    display: flex;
  }
  .sidebar-2 {
    flex-basis: 38%;
    padding-right: 8px;
  }
  .topList--users {
    font-size: 12px;
    margin-top: 0;
  }
  .topList--users .topList__item:first-child img,
  .topList--users .topList__item:nth-child(2) img {
    width: 40px;
    height: 40px;
  }
  .topUser__name {
    font-size: 13px;
  }
  /* .sidebar-ad {
    display: none;
  } */
}

@media (max-width: 576px) {
  /* .navBar--top {
    display: none;
  } */
  .navBar--content {
    height: unset;
    min-height: 40px;
    padding: 10px;
    justify-content: center;
  }
  .navBar--bottom {
    justify-content: space-between;
  }
  .menu--content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    column-gap: 10px;
  }

  .navBar--top .navBar__item:first-child {
    display: none;
  }
  .navBar--top .container {
    justify-content: flex-end;
  }
  .search {
    display: none;
  }
  .navBar--bottom .search {
    display: block;
  }
  li.secondSearch {
    display: flex;
  }
  .main {
    flex-basis: 100%;
    /* padding-left: 15px; */
  }
  .sidebar-2 {
    flex-basis: 100%;
  }
  .footer__menu {
    justify-content: center;
  }
  .sidebar-ad {
    display: flex;
  }
  .topList--users {
    font-size: 13px;
  }
  .topUser__name {
    font-size: 14px;
  }
  .topList--users .topList__item:first-child img {
    width: 55px;
    height: 55px;
  }

  .topList--users .topList__item:nth-child(2) img {
    width: 45px;
    height: 45px;
  }
}
